html, body
{
	width:100vw;
	height:100vh;
	overflow:hidden;
	position:relative;
	padding:0px;
	margin:0px;
}

#menu-block
{
	position:absolute;
	top:0px;
	left:0px;
	height:auto;
	width:100vw;
	overflow:hidden;
}

#in-menu
{
	height:5em;
	width:100vw;
	box-shadow:inset 0 0 0 1px #000;
	position:relative;
	overflow:hidden;
	font-family:sans-serif;
	color:#000;
}

#company-header
{
	font-weight:bolder;
	font-size:18px;
	margin-top:0px;
	margin-bottom:0px;
	position:absolute;
	left:30px;
	text-transform:uppercase;
}

#thin
{
	text-transform:none;
	font-weight:lighter;
	font-size:16px;
}

#hamburger-button
{
	width:2em;
	height:2em;
	position:absolute;
	right:30px;
	box-shadow:inset 0 0 0 1px #000;
}