html, body
{
	margin:0px;
	padding:0px;
	position:relative;
	overflow-x:hidden;
}

body::-webkit-scrollbar
{
	display:none;
}

#nav
{
	width:100vw;
	height:5em;
}

#carosel-container
{
	width:100vw;
	height:100vh;
	overflow:hidden;
	position:relative;
}

.move-contain
{
	position:absolute;
	top:0px;
	transition-property:left;
	transition-duration:0.5s;
	transition-timing-function:linear;
}

.img-container 
{
	overflow:hidden;
	position:relative;
}

.images
{
	position:absolute;
	top:0px;
}